$primary : #171717
$white : #FFFFFF
$blue: #7F56D9
$grayText: #737373
$grayColor: #D4D4D4
$grayInput: #737373
$defaultInput: #FFFFFF
$buttonTextDisabled: rgba(0, 0, 0, 0.38)
$buttonInputDisabled: #f2f2f3
