@use 'sass/variables' as *
@use 'sass/colors' as *
@use 'sass/mixins' as *

// Global styles
.button
  +SemiBold
  font-size: 11px
  background-color: $white
  color: #525252 !important
  width: 100% !important
  text-transform: none !important
  border-radius: 8px !important
  &:hover
    background-color: rgba(0, 0, 0, 0.1) !important
// @media #{}
// @media #{}
// @media #{}
